.navbar-nav {
    color:white !important;
    font-family: 'Rajdhani', sans-serif;
  
}
.nav-link {
    color:white !important;
    font-family: 'Rajdhani', sans-serif;
}

.navbar-nav > li{
    /* padding-left:190px;
    padding-right:190px; */
    font-size: 15px;
  }

.nav{
    background-color:rgb(112, 112, 223);
}
  

.pretty {
    font-family: 'Dancing Script', cursive;
    color: black;
    
}

.navbar-brand {
    color: inherit;
}


.overlay {
    background-color: white;
}

.para {
    padding-top: 60px;
    padding-left: 50px;
    font-family: 'Rajdhani', sans-serif;
}

/* .over2 {
    border-bottom: 10px solid rgb(112, 112, 223);
    padding-right: 100px;
    width:600px;
    height:500px;
} */
/* .text {
    padding-top: 60px;
    padding-left: 190px;
    font-family: 'Rajdhani', sans-serif;
} */


@media (max-width: 432px) {
    .carousel {
        width: 312px; 
    }

    .over2 {
    width:100px;
    height:100px;
    }

    .over1 {
    width:100px;
    height:100px;
    }
    .landscape {
        width:312px;
    height:100px;
    }
    .para {
        padding-top: 10px;
        padding-left: 10px;
        width: 100%;
        font-size: 8px;
        
    }
    /* .navbar-nav > li{
        
        font-size: 15px;
      } */
      .text {
        
        font-family: 'Rajdhani', sans-serif;
    }
    .pretty {
        width: 312px
    }
    .nav {
        width: 312px
    }
   

}










@media only screen and (min-width: 768px) {
.nav-item {
    color:white !important;
    font-family: 'Rajdhani', sans-serif;
  
}

.nav{
    background-color:rgb(112, 112, 223);
}
  

.pretty {
    font-family: 'Dancing Script', cursive;
}


.overlay {
    background-color: white;
}

.btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    background-color: transparent;
    font-size: 20px;
    padding: 12px 24px;
    border: 1px solid rgb(112, 112, 223);
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
}

.over1 {
    padding-top: 50px;
    padding-left: 150px;
    border-bottom: 10px solid rgb(112, 112, 223);
    width:590px;
    height:500px;
}
.over2 {
    border-bottom: 10px solid rgb(112, 112, 223);
    padding-right: 100px;
    width:600px;
    height:500px;
}

.text {
    padding-top: 60px;
    padding-left: 190px;
    font-family: 'Rajdhani', sans-serif;
}

.para {
    padding-top: 60px;
    padding-left: 50px;
    font-family: 'Rajdhani', sans-serif;
}
.overlay-container {
    display: flex;
}

.overlay-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.landscape {
    padding-top: 20px;
    padding-bottom: 20px;
    width:1349px;
    height:200px;
}

.landscape-container {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.landscape-container .btn-landscape {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: white;
    font-size: 50px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    display: inline;
    margin: 0 auto;
}

.landscape-container .btn-landscape1 {
    position: absolute;
    top: 50%;
    left: 170%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: white;
    font-size: 50px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    display: inline;
    margin: 0 auto;
}

.landscape-container .btn-landscape2 {
    position: absolute;
    top: 50%;
    left: 280%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: white;
    font-size: 50px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    display: inline;
    margin: 0 auto;
}
}